.logo_navbar {
    width: 80px;
}

.nav-link:hover{
    color: #ffffff !important;

}

.text-platzi {
    color: #97c93e !important;
}

.carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
}


#carousel {
    position: relative;
}

#carousel .overlay {
    z-index: 1;
    /* /Hace que el overlay quede sobre todos de lo contrario queda atras/ */
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row {
    height: 100%;
}